openapi: 3.2.0
info:
  description: MOLOCO Cloud Auth API provides functionalities to authenticate and authorize the MOLOCO Cloud users.
  title: MOLOCO Cloud Auth Health API
  version: 1.0.0
servers:
- url: https://morse-us-prod.adsmoloco.com
tags:
- name: Health
paths:
  /ready:
    get:
      description: Check the health of the MOLOCO Cloud Auth API service.
      tags:
      - Health
      summary: Check the health of the service
      operationId: v1_health_check
      responses:
        '200':
          description: The API is working  file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResponse'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
components:
  schemas:
    error:
      description: Error response with detailed reason.
      type: object
      required:
      - reason
      - status
      properties:
        reason:
          description: More detailed reason about why the error was returned.
          type: string
        status:
          description: The error status code.
          type: integer
    healthCheckResponse:
      description: A response to a health check request.
      type: object
      required:
      - healthy
      properties:
        healthy:
          description: Indicates whether the server is healthy or not.
          type: boolean
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
x-google-backend:
  address: https://morse-us-prod.adsmoloco.com
